说明：
1.项目只要被git控制了版本历史---就叫仓库
2.项目在自己用户名下
3：commit 做一个版本 commit new file 版本留言 项目沟通  
   就是什么人在什么时间对文件进行了什么修改
4：parent 父版本号  commit后面是版本号 （版本号是十六进制）版本号是随机的，不受控制的
parent版本号 与 其它版本号，--连成线 原理

1、new repository:新建仓库，
2、commit:做一个版本(动词)或者版本（名词）
3、create new file：新建文件
4、commit new file:把新添加的文件做到版本中
5、branch:分支
6、版本号使用一个40位的字符串来标记。
7、新版本有指向parent版本号

新建一个项目（New repository新建仓库）——添加项目名（自己账户中添加）——项目描述（可修改）——选择公开或者私有——初始化项目仓库时自动建立一个README文件——进入项目主页
commit 做一个版本/就是一个版本
添加文件：（项目名/+）
commit new file 
描述版本意图——有了显示commit为2
版本号：40位16进制数 github网页中用户/项目名/commit/版本号，找到该版本
github保存版本用parent版本区分前后
增加新版本，版本顺序从上到下从新到旧
